<div>
  <% if flash[:success] %>
    <%= flash[:success] %>
  <% else %>
    <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div>
  <%= form_for :author, url: authors_path do |f| %>
    First name: <%= f.text_field :first_name %><br />
    Last name : <%= f.text_field :last_name %><br />
    Email : <%= f.text_field :email %><br />
    <%= f.submit %>
  <% end %>
</div>
